{% load static %}
<!DOCTYPE html>
<html>
  {% block styles %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock %}
<body>

<h1 class="underline ">My First Heading</h1>
<p>My first paragraph.</p>

<div class="custom-box">

  <button class="btn btn-3xsm btn-blue">Poga</button>
  <button class="btn btn-2xsm btn-blue">Poga</button>
  <button class="btn btn-xsm btn-blue">Poga</button>
  <button class="btn btn-sm btn-blue">Poga</button>
  <button class="btn btn-blue">Poga</button>
  <button class="btn btn-lg btn-blue">Poga</button>
  <button class="btn btn-xlg btn-blue">Poga</button>
</div>

{% for note in notes%}
<article class="note">
    <h2>
        <a href="{% url 'notes:view_note' note.id %}">{{note.title}}</a>
        <a href="{% url 'notes:edit_note' note.id %}" class="edit-note"><i class="bi bi-pencil-square"></i></a>
    </h2>

    {% autoescape off %}
    <p>{{note.get_html|truncatechars_html:250 }}</p>
    {% endautoescape %}

    {% for tag in note.tags.all %}
        <a type="button" class="btn btn-primary btn-sm"  style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .75rem;" href="{% url 'notes:view_tag' tag.id %}">{{tag.title}}</a>
    {% endfor %}
    <!-- <p class="info">
        January 1, 2021 by 
        <a href="#">Mark</a>
    </p> -->


</article>
<div class="divider"></div>
{% endfor %}


</body>
</html>
