{% load static %}
<!DOCTYPE html>
<html>
  {% block styles %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock %}
<body>

<h1 class="underline ">My First Heading</h1>
<p>My first paragraph.</p>

<div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
asd
asd

  <button class="bg-blue-200 px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">Poga</button>
</div>


</body>
</html>
