local_settings.py
# Environment Files
.env

# Python Compiled Files
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Logs
debug.log
*.log

# Node.js
node_modules/
package-lock.json

# Tailwind, Webpack, and Build Artifacts
assets/dist/
*.css.map
*.js.map
webpack-stats.json

# Local Uploads/Media (Excluded from Git)
uploads/
CACHE/

# Old or Temporary Files
old/

# Django Static and Collected Files
static/
assets/src/fonts/*.ttf
assets/src/images/*.webp

# Generated Migrations or Database Dumps (Optional)
db.sqlite3
*.sql
*.sqlite

# IDE and Editor Configs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Exclude Build and Test Artifacts
dist/
*.egg-info/
build/

# Temporary Files for Development
*.tmp
*.bak

